/* currency-list */
.currency-list {
	list-style: none;
	padding: 0;
	display: flex;
}

.list__item {
	margin: 0 20px 10px 0;
}

.item__text {
	color: #FBFBFB;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
}