<header class="content__header">
	<div class="content__logo">
		<div class="logo__image"><img src="assets/logo.svg" alt=""></div>
		<div class="logo__text">GoExchange</div>
	</div>
	<div class="content__exchanges">
		<div *ngFor="let ex of exchanges | slice:1 " class="exchanges__type">
			<span>{{ex.ccy}}: </span>
			<span>{{ex.buy}} / {{ex.sale}}</span>
		</div>
	</div>
	<div class="content__sign">
		<button class="button__registration">Registration</button>
		<button class="button__sign">Sign in</button>
	</div>
</header>