<div class="wrapper">
	<div class="content">
		<app-header class="header" [exchanges]="exchanges"></app-header>
		<main class="content__main">
			<div class="main__exchanges">
				<div class="main__info">
					<div class="main__title">
						Currency <br> exchange quickly & safely
					</div>
					<div class="main__description">
						No extra fee. Account replenishment no longer than 15 minutes
					</div>
				</div>
				<div class="main__currency">
					<h3 class="buy-sale" *ngIf="this.ms.buyOrSale">Buy</h3>
					<h3 class="buy-sale" *ngIf="!this.ms.buyOrSale">Sale</h3>
					<form class="currency__form">
						<div class="currency-buy">
							<div class="currency__title">You give</div>
							<input placeholder="With" [(ngModel)]="this.ms.currency"
								(ngModelChange)="this.ms.changeSumm($event, exchanges)" name="currency" type="text"
								class="currency__input">
							<select [(ngModel)]="this.ms.selectCurrency"
								(ngModelChange)="this.ms.changeCurrency(this.ms.selectCurrency,exchanges)"
								class="currency__select" name="selectCurrency">
								<option class="select__option" (click)="this.ms.clearParam()" *ngFor="let cur of exchanges">
									{{cur.ccy}}</option>
							</select>
						</div>
						
						<app-arrow-svg  (click)="this.ms.buyOrSale = !this.ms.buyOrSale; this.ms.clearParam()" class="change__image"></app-arrow-svg>

						<div class="currency-sale">
							<div class="currency__title">You receive</div>
							<input placeholder="In" type="text" class="currency__input" value="{{this.ms.result}}">
							<select [(ngModel)]="this.ms.inSelectCurrency"
								(ngModelChange)="this.ms.inChangeCurrency(this.ms.inSelectCurrency, exchanges)"
								name="inSelectCurrency" class="currency__select">
								<option class="select__option" (click)="this.ms.clearParam()" *ngFor="let cur of exchanges">
									{{cur.ccy}}</option>
							</select>

						</div>
					</form>
					
					<div class="statistics">
						<div class="currency__statistics">
							<div class="statistics__title">Exchange rate</div>
							<div class="statistics__info">{{ms.btcShow}} <span>UAH</span> = 1 <span>BTC</span></div>
						</div>
						<div class="currency__statistics">
							<div class="statistics__title">Reserves</div>
							<div class="statistics__info">21.27498619 <span>BCH</span></div>
						</div>
					</div>


				</div>
			</div>
			<div class="image__content">
				<img src="assets/content.png" alt="">
			</div>
		</main>
	</div>
</div>