/* HEADER */
.content__header {
	display: grid;
	grid-template-columns: 190px 345px 280px;
	justify-content: space-between;
	grid-template-rows: 1fr;
	padding: 0 20px;
	margin-top: 30px;
}

/* HEADER logo */
.content__logo {
	display: flex;
	justify-content: end;
	align-items: center;
	grid-column: 1/2;
}

.logo__image {
	width: 32px;
	height: 32px;
	margin-right: 25px;
}

.logo__image img {
	width: 32px;
	height: 32px;
	object-fit: contain;
}

.logo__text {
	font-family: 'Rubik Burned';
	font-size: 20px;
	line-height: 19px;
	color: #FBFBFB;
}

/* HEADER exchange */
.content__exchanges {
	grid-column: 2/3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.exchanges__type {
	font-family: 'Noto Sans Mono';
	color: #FBFBFB;
	margin-bottom: 5px;
}

/* HEADER button */
.content__sign {
	display: flex;
	justify-content: start;
	align-items: center;
	grid-column: 3/4;
	font-family: 'Rubik';
}

.button__registration {
	cursor: pointer;
	width: 150px;
	height: 40px;
	border: 2px solid #6DE0F6;
	border-radius: 20px;
	margin-right: 30px;
	background: #6DE0F6;
	color: #040404;
}

.button__sign {
	cursor: pointer;
	width: 100px;
	height: 40px;
	border: 2px solid #6DE0F6;
	background-color: transparent;
	border-radius: 20px;
	color: #FBFBFB;
	transition: 0.3s;
}

.button__sign:hover {
	transition: 0.3s;
	background: #6DE0F6;
	color: #040404;
}



@media (min-width: 1280px) {
	.logo__image{
		width: 40px;
		height: 40px;
	}
	.logo__image img{
		width: 40px;
		height: 40px;
	}
	.logo__text{
		font-size: 22px;
	}
	.content__header {
		grid-template-columns: 210px 600px 280px;
	}
	.content__exchanges{
		flex-direction: row;
		justify-content: space-around;
	}
	.exchanges__type{
		font-size: 18px;
		margin: 0;
	}
}


/* !MOBILE */
@media (max-width: 860px) {
	.content__header{
		grid-template-columns: none;
	}
	.logo__text{
		display: none;
	}
	.button__registration{
		display: none;
	}
}

@media (max-width: 415px) {
	.content__sign{
		display: none;
	}
}